<div class="body">
    <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner> 

    <div *ngIf="!loading" class="login" >
        <form [formGroup]="form"(ngSubmit)="done()">
            <img src="../../../assets/img/artboard-vanderlande.png" width="100%">
            <img src="../../../assets/img/login.png" width="30%">
        <mat-form-field class="ancho" appearance="fill">
            <mat-label>User</mat-label>
            <input matInput formControlName="user">
        </mat-form-field>
        <mat-form-field class="ancho" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="pass">
        </mat-form-field>
        <br>
        <button type="submit" class="anchodone" mat-raised-button color="primary" [disabled]="form.invalid">Done</button>
        </form>
    </div>
    
</div>



